h2 Resultados de busqueda
.list-menu#result_search

h2 Búsquedas guardadas
.list-menu
	a(class=list-menu,href='#') link

h2 Categorías
.list-menu
	a(class=list-menu,href='#') link

h2 Idioma
.list-menu
	a(class=list-menu,href='#') link

h2 Publicación
.list-menu
	a(class=list-menu,href='#') link

h2 Presentación
.list-menu
	a(class=list-menu,href='#') link
